<h1>Public Recipes</h1>
<ul >
<% @recipe.each do |r| %>
<%= link_to r do %>
    <li class="public_list">
    <div>
    <%= r.name %>    
    </div>
     <div>
    <%= r.preparation_time %>
    <%= r.cooking_time %>
    </div>
    </li>
    <% end %>
<% end %>
</ul>
