<h1>Shopping Cart</h1>

<h2>Total price =</h2>
<h2>Quantity of itens =</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>          
    </tr>
  </thead>
  <tbody>
    
      <tr>
        <td></td>
        <td></td>
        <td></td>        
        
      </tr>
    
  </tbody>
</table>
